services:
  - type: web
    name: trivy-scanner-api
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 3000
      - key: MONGO_URI
        sync: false  
      - key: NODE_ENV
        value: production